@font-face {
    font-family: 'swirly';
    src: url(//cdn.githubraw.com/meinhell420/fonts/main/JustMyLuck.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
